matplotlib~=3.8.3
numpy~=1.26.4
setuptools~=68.2.0
absl-py
altair
astor
attrs
autopep8
bleach
backcall
bcrypt
cffi
cryptography
cycler
decorator
defusedxml
entrypoints
future
gast
grpcio
h5py
importlib-metadata
invoke
ipykernel
ipython
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
lightgbm
Markdown
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
notebook
numpy
pandas
pandocfilters
paramiko
parso
pefile
pexpect
pickleshare
prompt-toolkit
protobuf
psutil
ptyprocess
pycodestyle
pycparser
Pygments
PyNaCl
pyparsing
pyrsistent
python-dateutil
pytz
PyYAML
pyzmq
qtconsole
scikit-learn
scipy
seaborn
Send2Trash
six
tensorboard
tensorflow
termcolor
terminado
testpath
threadpoolctl
toolz
tornado
tqdm
traitlets
wcwidth
webencodings
Werkzeug
widgetsnbextension
zipp
